:root {
  --bg-color: #191b1d;
  --fg-color: #22262c;
  --accent-color: #bc1e4a;
  --white: rgba(255, 255, 255, 0.875);
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-color);
  color: var(--white);
  font-family: "Open Sans";
}
.page-wrapper {
  max-width: 68rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 4rem;
}
.current-plan {
  grid-column: 1 / -1;
  justify-self: center;
  height: 10rem;
}
.current-plan div {
  background-color: var(--accent-color);
  padding: 1.5rem 6rem;
  text-align: center;
  line-height: 1.65;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.current-plan div p {
  font-size: 0.875rem;
}
.title {
  justify-self: center;
  grid-column: 1 / -1;
}
.title h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.title label {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.title label input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.title label span.checkmark {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 3.75rem;
  border-radius: 4rem;
  background-color: var(--accent-color);
  margin: 0 0.5rem;
}
.title label span.checkmark::after {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: var(--white);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50rem;
  top: 50%;
  transition: transform 0.3s ease;
  transform: translate3d(4px, -50%, 0);
}

.title label input:checked ~ span.checkmark::after {
  transform: translate3d(2rem, -50%, 0);
}
.card {
  border-radius: 8px;
  background: var(--fg-color);
  padding: 2rem 1rem;
}
.card h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.card .price {
  font-size: 3.375rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}
.card:last-child .price {
  font-size: 2rem;
  padding-top: 3rem;
}
.card .price span {
  font-size: 1.375rem;
}
.card ul {
  list-style: none;
  font-size: 0.875rem;
  margin-bottom: 3rem;
}
.card ul li {
  display: block;
  padding: 0.5em;
}
.card ul li::before {
  content: "";

  display: inline-block;
  transform: translateX(-1em);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
#MAU {
  display: block;
  background: none;
  color: var(--white);
  padding: 1em 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  border-radius: 2px;
  width: 100%;
}
select option {
  background-color: red;
}
#MAU option {
  background-color: rgba(255, 255, 255, 0.3);
}
ul li.mau span {
  color: var(--accent-color);
  font-size: 0.75rem;
  padding: 0.5em 2em;
}
ul li.mau::before {
  display: none;
}
.card button {
  background: none;
  display: block;
  margin: 0 auto;
  padding: 0.8em 4em;
  border-radius: 5px;
  font-size: 1.125rem;
  color: var(--white);
  border: 1px solid var(--accent-color);
}
